.mainContainer {
  display: flex;
  justify-content: center;
  //   text-align: center;
  align-items: center;
  padding: 50px 10px;
  margin: auto;
  align-items: center;
  border: 1px solid;

  .welcomeWrraper {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    img {
      width: 90px;
      height: 70px;
      text-align: center;
      margin-bottom: 8px;
    }

    h2 {
      font-family: Inter;
      font-size: 31px;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 8px;
      margin: 0px;
    }

    p {
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      font-family: "Inter";
      color: #2e2e2e;
    }
  }
  :global(.ant-form-item-label) {
    label {
      font-size: 15px;
    }
  }

  .signUpBtn {
    background-color: #121212;
    width: 100%;
    color: #fff;
    height: 45px;
    margin-top: 22px;
    font-size: 20px;
    font-weight: 500;
    &:hover{
        color: #fff;
    }
  }
  .loginWrraper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    p {
        font-weight: 200;
        font-size: 20px;
        color: #000000;
    }

    span {
        color: blue;
        margin-left: 4px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
}
