.main{
    background-color: #121212;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.logoWrapper{
    width: 20%;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
}
.menueItemWrapper{
    width: 70%;
    display: flex;
    /* justify-content: space-around; */
}

.menueItem{
    text-decoration: none;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
}

.cartWrapper{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}